<ion-header translucent>
  <ion-toolbar>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isSubmitting" type="indeterminate"></ion-progress-bar>
  <ion-toolbar *ngIf="success">
    <ion-text color="success" class="ion-padding">{{ success }}</ion-text>
  </ion-toolbar>
  <ion-toolbar *ngIf="error">
    <ion-text color="danger" class="ion-padding">{{ error }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()" autocomplete="off">
    <ion-item>
      <ion-label position="stacked">Adresse email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" [disabled]="isSubmitting" required></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" color="primary" expand="block" [disabled]="!canSubmit" type="submit">
      Envoyer le lien de réinitialisation
    </ion-button>
  </form>
</ion-content>

