<div class="comments-thread">
  <div class="composer" *ngIf="isAuthenticated; else loginInfo">
    <ion-textarea [autoGrow]="true" [(ngModel)]="newComment" placeholder="Ecrire un commentaire d'encouragement..."></ion-textarea>
    <ion-button size="small" (click)="addComment()" [disabled]="!(newComment && newComment.trim())">Publier</ion-button>
  </div>
  <ng-template #loginInfo>
    <div class="login-hint">Connectez-vous pour commenter</div>
  </ng-template>

  <div class="list">
    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    <ion-list *ngIf="!loading">
      <ion-item *ngFor="let c of comments" class="comment-item">
        <ion-label>
          <h3>{{ c.author?.displayName || 'Membre' }}</h3>
          <p>{{ c.content }}</p>
          <div class="comment-valid">
            <ion-chip color="success">
              <ion-icon name="shield-checkmark-outline"></ion-icon>
              <ion-label>Commentaire validé</ion-label>
            </ion-chip>
          </div>
        </ion-label>
        <!-- Bouton signaler retiré: remplacé par un indicateur discret de validation -->
      </ion-item>
      <ion-item *ngIf="comments.length === 0">
        <ion-label>Aucun commentaire pour le moment.</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
